.button,
button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  outline: none;
/*& .icon
    margin-right: (padding / 2)
    display: inline-block*/
}
.button:disabled,
button:disabled,
.button.disabled,
button.disabled {
  background: rgba(255,255,255,0.2);
  color: #999 !important;
}
.button.anchor,
button.anchor {
  width: 100%;
/*& .icon
      margin-left: 8px
      float: left*/
}
.button.large,
button.large {
  height: 52px;
  padding: 0 24px;
  font-size: 1.45em;
  font-weight: 300;
  line-height: 52px;
}
.button.small,
button.small {
  height: 28px;
  padding: 0 12px;
  font-size: 0.9em;
  line-height: 26px;
/*& > .icon
      height: 17px*/
}
.button.tiny,
button.tiny {
  height: 22px;
  padding: 0 10px;
  font-size: 0.75em;
  line-height: 20px;
/*& > .icon
      height: 12px*/
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.flexbox.y {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
.flexbox.x {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
}
.flexbox > * {
  display: block;
}
.flexbox > .box {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
}
.flexbox > .box-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.flexbox > .box-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 .right,
h2 .right,
h3 .right,
h4 .right,
h5 .right,
h6 .right {
  font-size: 1em;
}
h1 .icon,
h2 .icon,
h3 .icon,
h4 .icon,
h5 .icon,
h6 .icon {
  font-size: 0.85em;
}
h1 {
  font-size: 2.6em !important;
}
h2 {
  font-size: 2.2em !important;
}
h3 {
  font-size: 1.8em !important;
}
h4 {
  font-size: 1.6em !important;
}
h5 {
  font-size: 1.3em !important;
}
h6 {
  font-size: 1em !important;
}
.title {
  font-size: 2.6em !important;
}
.text.thin {
  font-weight: 200;
}
.text.book {
  font-weight: 300;
}
.text.normal {
  font-weight: 400;
}
.text.bold {
  font-weight: 700;
}
.text.italic {
  font-style: italic;
}
.text.underline {
  border-bottom: 1px solid;
}
.text.left {
  text-align: left;
}
.text.right {
  text-align: right;
}
.text.center {
  text-align: center;
}
.text.justify {
  text-align: justify;
}
.text.small {
  font-size: 0.8em;
}
.text.big {
  font-size: 1.2em;
}
.text.extra-big {
  font-size: 2.6em;
}
p {
  font-size: 1.1em;
  line-height: 1.1em;
}
small {
  font-size: 0.85em;
  line-height: 0.85em;
}
form input[type="text"],
.form input[type="text"],
form input[type="password"],
.form input[type="password"],
form input[type="date"],
.form input[type="date"],
form input[type="datetime"],
.form input[type="datetime"],
form input[type="email"],
.form input[type="email"],
form input[type="number"],
.form input[type="number"],
form input[type="search"],
.form input[type="search"],
form input[type="tel"],
.form input[type="tel"],
form input[type="time"],
.form input[type="time"],
form input[type="url"],
.form input[type="url"],
form select,
.form select,
form textarea,
.form textarea {
  display: block;
  height: 32px;
  width: 100%;
  padding: 6px;
  margin: 2px 0 6px 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-family: inherit;
  font-size: 14px;
}
form input[type="text"]:focus,
.form input[type="text"]:focus,
form input[type="password"]:focus,
.form input[type="password"]:focus,
form input[type="date"]:focus,
.form input[type="date"]:focus,
form input[type="datetime"]:focus,
.form input[type="datetime"]:focus,
form input[type="email"]:focus,
.form input[type="email"]:focus,
form input[type="number"]:focus,
.form input[type="number"]:focus,
form input[type="search"]:focus,
.form input[type="search"]:focus,
form input[type="tel"]:focus,
.form input[type="tel"]:focus,
form input[type="time"]:focus,
.form input[type="time"]:focus,
form input[type="url"]:focus,
.form input[type="url"]:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus {
  outline: none !important;
}
form input[type="text"].large,
.form input[type="text"].large,
form input[type="password"].large,
.form input[type="password"].large,
form input[type="date"].large,
.form input[type="date"].large,
form input[type="datetime"].large,
.form input[type="datetime"].large,
form input[type="email"].large,
.form input[type="email"].large,
form input[type="number"].large,
.form input[type="number"].large,
form input[type="search"].large,
.form input[type="search"].large,
form input[type="tel"].large,
.form input[type="tel"].large,
form input[type="time"].large,
.form input[type="time"].large,
form input[type="url"].large,
.form input[type="url"].large,
form select.large,
.form select.large,
form textarea.large,
.form textarea.large {
  height: 52px;
  padding: 0 20px;
  font-size: 1.2em;
  margin: 0px;
}
form textarea,
.form textarea {
  height: 64px;
}
form label,
.form label {
  font-size: 0.9em;
  font-weight: 400;
}
.fieldset label,
fieldset label {
  display: block;
  text-align: right;
  float: left;
  width: 25%;
  padding: 2px 8px;
}
.fieldset label > span,
fieldset label > span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}
.fieldset input[type="text"],
fieldset input[type="text"],
.fieldset input[type="password"],
fieldset input[type="password"],
.fieldset input[type="date"],
fieldset input[type="date"],
.fieldset input[type="datetime"],
fieldset input[type="datetime"],
.fieldset input[type="email"],
fieldset input[type="email"],
.fieldset input[type="number"],
fieldset input[type="number"],
.fieldset input[type="search"],
fieldset input[type="search"],
.fieldset input[type="tel"],
fieldset input[type="tel"],
.fieldset input[type="time"],
fieldset input[type="time"],
.fieldset input[type="url"],
fieldset input[type="url"],
.fieldset select,
fieldset select,
.fieldset textarea,
fieldset textarea {
  width: 75%;
}
.row {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
.row .row {
  margin: 0 -16px 0 -16px;
  width: auto;
  display: inline-block;
}
[class^="column_"],
[class*=" column_"] {
  margin: 0 16px 0 16px;
  overflow: hidden;
  float: left;
  display: inline;
}
.column_1 {
  width: 48px;
}
.column_2 {
  width: 128px;
}
.column_3 {
  width: 208px;
}
.column_4 {
  width: 288px;
}
.column_5 {
  width: 368px;
}
.column_6 {
  width: 448px;
}
.column_7 {
  width: 528px;
}
.column_8 {
  width: 608px;
}
.column_9 {
  width: 688px;
}
.column_10 {
  width: 768px;
}
.column_11 {
  width: 848px;
}
.column_12 {
  width: 928px;
}
.offset_1 {
  margin-left: 96px;
}
.offset_2 {
  margin-left: 176px;
}
.offset_3 {
  margin-left: 256px;
}
.offset_4 {
  margin-left: 336px;
}
.offset_5 {
  margin-left: 416px;
}
.offset_6 {
  margin-left: 496px;
}
.offset_7 {
  margin-left: 576px;
}
.offset_8 {
  margin-left: 656px;
}
.offset_9 {
  margin-left: 736px;
}
.offset_10 {
  margin-left: 816px;
}
.offset_11 {
  margin-left: 896px;
}
.show-phone {
  display: none !important;
}
.show-tablet {
  display: none !important;
}
.show-screen {
  display: inherit !important;
}
.hide-phone {
  display: inherit !important;
}
.hide-tablet {
  display: inherit !important;
}
.hide-screen {
  display: none !important;
}
@media only screen and (min-width:1200px) {
  .row {
    width: 1200px;
  }
  .row .row {
    margin: 0 -20px 0 -20px;
  }
  [class^="column_"],
  [class*=" column_"] {
    margin: 0 20px 0 20px;
  }
  .column_1 {
    width: 60px;
  }
  .column_2 {
    width: 160px;
  }
  .column_3 {
    width: 260px;
  }
  .column_4 {
    width: 360px;
  }
  .column_5 {
    width: 460px;
  }
  .column_6 {
    width: 560px;
  }
  .column_7 {
    width: 660px;
  }
  .column_8 {
    width: 760px;
  }
  .column_9 {
    width: 860px;
  }
  .column_10 {
    width: 960px;
  }
  .column_11 {
    width: 1060px;
  }
  .column_12 {
    width: 1160px;
  }
  .offset_1 {
    margin-left: 120px;
  }
  .offset_2 {
    margin-left: 220px;
  }
  .offset_3 {
    margin-left: 320px;
  }
  .offset_4 {
    margin-left: 420px;
  }
  .offset_5 {
    margin-left: 520px;
  }
  .offset_6 {
    margin-left: 620px;
  }
  .offset_7 {
    margin-left: 720px;
  }
  .offset_8 {
    margin-left: 820px;
  }
  .offset_9 {
    margin-left: 920px;
  }
  .offset_10 {
    margin-left: 1020px;
  }
  .offset_11 {
    margin-left: 1120px;
  }
  .show-phone {
    display: none !important;
  }
  .show-tablet {
    display: none !important;
  }
  .show-screen {
    display: inherit;
  }
  .hide-phone {
    display: inherit !important;
  }
  .hide-tablet {
    display: inherit !important;
  }
  .hide-screen {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row {
    width: 768px;
  }
  .row .row {
    margin: 0 -14px 0 -14px;
  }
  [class^="column_"],
  [class*=" column_"] {
    margin: 0 14px 0 14px;
  }
  .column_1 {
    width: 36px;
  }
  .column_2 {
    width: 100px;
  }
  .column_3 {
    width: 164px;
  }
  .column_4 {
    width: 228px;
  }
  .column_5 {
    width: 292px;
  }
  .column_6 {
    width: 356px;
  }
  .column_7 {
    width: 420px;
  }
  .column_8 {
    width: 484px;
  }
  .column_9 {
    width: 548px;
  }
  .column_10 {
    width: 612px;
  }
  .column_11 {
    width: 676px;
  }
  .column_12 {
    width: 740px;
  }
  .offset_1 {
    margin-left: 78px;
  }
  .offset_2 {
    margin-left: 142px;
  }
  .offset_3 {
    margin-left: 206px;
  }
  .offset_4 {
    margin-left: 270px;
  }
  .offset_5 {
    margin-left: 334px;
  }
  .offset_6 {
    margin-left: 398px;
  }
  .offset_7 {
    margin-left: 462px;
  }
  .offset_8 {
    margin-left: 526px;
  }
  .offset_9 {
    margin-left: 590px;
  }
  .offset_10 {
    margin-left: 654px;
  }
  .offset_11 {
    margin-left: 718px;
  }
  .show-phone {
    display: none !important;
  }
  .show-tablet {
    display: inherit !important;
  }
  .show-screen {
    display: none !important;
  }
  .hide-phone {
    display: inherit !important;
  }
  .hide-tablet {
    display: none !important;
  }
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (max-width: 767px) {
  header {
    height: auto !important;
  }
  .title {
    font-size: 1.2em !important;
  }
  body .bck.menu-consama {
    background: #2d9e36 !important;
  }
  .icon-4x {
    font-size: 2em !important;
  }
  .min-heigth_60px {
    min-height: auto !important;
  }
  body .text.color.yellow {
    color: #fff !important;
  }
  .row {
    width: 300px;
  }
  .row .row {
    margin: 0;
  }
  [class^="column_"],
  [class*=" column_"] {
    width: 300px;
    margin: 10px 0 0 0;
  }
  .offset_1,
  .offset_2,
  .offset_3,
  .offset_4,
  .offset_5,
  .offset_6,
  .offset_7,
  .offset_8,
  .offset_9,
  .offset_10,
  .offset_11 {
    margin-left: 0;
  }
  .show-phone {
    display: inherit !important;
  }
  .show-tablet {
    display: none !important;
  }
  .show-screen {
    display: none !important;
  }
  .hide-phone {
    display: none !important;
  }
  .hide-tablet {
    display: inherit !important;
  }
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: auto !important;
  }
  body .bck.image .pattern-dark3 {
    background-color: #2d9e36 !important;
  }
  .row {
    margin: 0 auto;
    width: 456px;
    overflow: hidden;
  }
  .row .row {
    margin: 0;
    width: auto;
    display: inline-block;
  }
  [class^="column_"],
  [class*=" column_"] {
    margin: 10px 0 0 0;
    width: 456px;
  }
  .title {
    font-size: 1.5em !important;
  }
  .show-phone,
  .hide-tablet,
  .hide-screen {
    display: inherit !important;
  }
  .show-tablet,
  .show-screen,
  .hide-phone {
    display: none !important;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body > header {
  line-height: 50px;
  position: relative;
}
body > header .logo {
  font-size: 2em;
  line-height: 50px;
}
body > header nav {
  font-size: 0.95em;
}
body > header nav a {
  margin: 0 10px;
}
body > header nav a:last-child {
  margin-right: 0px;
}
body > footer {
  padding: 16px 0;
}
body > section {
  padding: 10px 0;
  background: none;
}
body > section.underline {
  padding: 0;
}
body > section.landing {
  padding: 64px 0;
}
body > section.landing h1 {
  font-size: 8em;
}
body > section.landing h2 {
  font-size: 4em;
}
body > section.landing h3 {
  font-size: 2.8em;
}
body > section.landing .form {
  margin-top: 5px;
}
body > section.landing .form input {
  width: 65%;
}
body > section.landing .form .button,
body > section.landing .form button {
  width: 35%;
}
body a {
  text-decoration: none;
  outline: 0;
}
body a:link {
  -webkit-transition: color 0.2s linear 0s;
  -moz-transition: color 0.2s linear 0s;
  -ms-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
ul {
  list-style: none;
}
ul:not(.none) li {
  margin: 0 0 5px 18px;
  padding: 0;
  background: none;
}
ul ul,
ul ol {
  margin: 5px 0 5px 0;
}
ul.none {
  list-style: none outside;
  margin: 0;
}
ul.square,
ul.square ul {
  list-style: square outside;
}
ul.circle,
ul.circle ul {
  list-style: circle outside;
}
ol {
  margin: 0 0 20px 20px;
  list-style: decimal;
}
ol ol,
ol ul {
  margin: 5px 0 5px 20px;
}
ol li {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 18px;
}
@media only screen and (min-width:1200px) {
  header {
    height: auto;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  header {
    height: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    height: auto !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  section.landing h1 {
    font-size: 5em !important;
  }
  section.landing h2 {
    font-size: 2.8em !important;
  }
  section.landing h3 {
    font-size: 1.8em !important;
  }
  header {
    height: auto !important;
    line-height: 32px;
  }
  nav button,
  nav .button,
  nav a {
    text-align: center;
    display: block !important;
    margin: 2px 0px !important;
    line-height: 32px;
  }
  nav.group a {
    border: none !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
  header {
    height: auto;
  }
}
nav {
  font-size: 15px !important;
}
nav.group a {
  font-size: 15px;
  padding: 1px 12px;
  margin: 0px;
  display: inline-block;
}
nav:not(.group) a {
  margin: 0 4px;
}
nav:not(.group) a:last-child {
  margin-right: 0px;
}
nav a:not(.button) .icon,
nav a:not(.button) img {
  margin-right: 3px;
  position: relative;
  top: 1px;
}
table {
  margin: 0 0 20px 0;
  width: 100%;
  border-spacing: 2px;
}
table td,
table th {
  padding: 10px 8px 10px 8px;
}
table th {
  font-weight: 700;
}
table td.highlight {
  font-weight: 700;
}
body {
  color: #000;
  font-size: 1em;
  line-height: 1.2;
  font-family: "overlock";
  font-weight: 300;
/* ====================== NAVIGATION ====================== */
/* ====================== BACKGROUNDS ====================== */
/* ====================== TEXT ====================== */
/* ===================== BORDER=======================*/
/* ====================== FORM ====================== */
/* ====================== TABLE ====================== */
/* ====================== BUTTONS ====================== */
/* ====================== BUTTONS ====================== */
}
body > header.solid {
  background: #111;
}
body > header.underline.color.white {
  border-bottom: solid #fff 1px;
}
body > header nav a {
  color: rgba(255,255,255,0.6);
}
body > header nav a:hover,
body > header nav a:active {
  color: #fff;
}
body > section.underline.right {
  border-right: 1px solid #fff;
}
body > section.underline.color.white {
  border-bottom: solid #fff 1px;
}
body > section.underline.color.default {
  border-bottom: solid #bbb 1px;
}
body hr {
  border-style: solid;
  border-color: #f7f7f7;
  margin: 20px 0;
  padding: 0;
}
body nav.group a {
  border-left: solid #ccc 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}
body nav.group a,
body nav.group a > .icon {
  color: #888;
}
body nav.group a:hover,
body nav.group a:active,
body nav.group a.active {
  color: #fff;
  background: #000;
}
body nav.group a:hover > .icon,
body nav.group a:active > .icon,
body nav.group a.active > .icon {
  color: #000;
}
body nav.group a:last-child {
  border-right: solid #ccc 1px;
}
body .bck.lightest {
  background-color: #fff;
}
body .bck.light {
  background-color: #f7f7f7;
}
body .bck.dark {
  background-color: #282828;
}
body .bck.darkest {
  background-color: #181818;
}
body .bck.theme {
  background-color: #16a6b6;
}
body .bck.accept {
  background-color: #2d9e36;
}
body .bck.cancel {
  background-color: #ee6557;
}
body .bck.sky {
  background-color: #5891bc;
}
body .bck.green {
  background-color: #2d9e36;
}
body .bck.line {
  border-right: 1px solid #fff;
  min-height: 260px;
}
body .bck.white {
  background-color: #fff;
}
body .bck.sky-blue {
  background-color: #8aeaf8;
}
body .bck.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
body .bck.menu-consama {
  -webkit-background-image: url("../../images/patterns/pattern-dark-3.png");
  -moz-background-image: url("../../images/patterns/pattern-dark-3.png");
  -ms-background-image: url("../../images/patterns/pattern-dark-3.png");
  -o-background-image: url("../../images/patterns/pattern-dark-3.png");
  background-image: url("../../images/patterns/pattern-dark-3.png");
}
body .bck.sky-tag-yetsu {
  background-color: #cdf3fe;
}
body .bck.glass {
  background: url("../images/patterns/pattern_004.png") repeat #c6c4c0;
}
body .bck.gradiant.sky {
  background: #5998be;
/* Old browsers */
  background: -moz-linear-gradient(top, #5998be 0%, #a6d5e9 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5998be), color-stop(100%, #a6d5e9));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5998be 0%, #a6d5e9 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5998be 0%, #a6d5e9 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5998be 0%, #a6d5e9 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #5998be 0%, #a6d5e9 100%);
/* W3C */
}
body .bck.gradiant.yetsu {
  background: #ffb07c;
/* Old browsers */
  background: -moz-linear-gradient(top, #ffb07c 0%, #ff7400 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb07c), color-stop(100%, #ff7400));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb07c 0%, #ff7400 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb07c 0%, #ff7400 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb07c 0%, #ff7400 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #ffb07c 0%, #ff7400 100%);
/* W3C */
}
body .bck.image.pattern-dark {
  -webkit-background-image: url("../../yetsu-2013/images/patterns/pattern_183.png");
  -moz-background-image: url("../../yetsu-2013/images/patterns/pattern_183.png");
  -ms-background-image: url("../../yetsu-2013/images/patterns/pattern_183.png");
  -o-background-image: url("../../yetsu-2013/images/patterns/pattern_183.png");
  background-image: url("../../yetsu-2013/images/patterns/pattern_183.png");
}
body .bck.image.pattern-dark2 {
  -webkit-background-image: url("../../yetsu-2013/images/patterns/black_thread.png");
  -moz-background-image: url("../../yetsu-2013/images/patterns/black_thread.png");
  -ms-background-image: url("../../yetsu-2013/images/patterns/black_thread.png");
  -o-background-image: url("../../yetsu-2013/images/patterns/black_thread.png");
  background-image: url("../../yetsu-2013/images/patterns/black_thread.png");
}
body .bck.image.pattern-dark3 {
  -webkit-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-3.png");
  -moz-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-3.png");
  -ms-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-3.png");
  -o-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-3.png");
  background-image: url("../../yetsu-2013/images/patterns/pattern-dark-3.png");
}
body .bck.image.pattern-dark4 {
  -webkit-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-4.png");
  -moz-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-4.png");
  -ms-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-4.png");
  -o-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-4.png");
  background-image: url("../../yetsu-2013/images/patterns/pattern-dark-4.png");
}
body .bck.image.pattern-dark5 {
  -webkit-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-5.png");
  -moz-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-5.png");
  -ms-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-5.png");
  -o-background-image: url("../../yetsu-2013/images/patterns/pattern-dark-5.png");
  background-image: url("../../yetsu-2013/images/patterns/pattern-dark-5.png");
}
body .bck.image.landing-yetsu {
  background: url("../../images/landing-yetsu.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body .text.shadow {
  -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  -ms-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  -o-text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
body .text.color.white {
  color: #fff;
}
body .text.color.theme {
  color: #16a6b6;
}
body .text.color.secondary {
  color: #bfbfbf;
}
body .text.color.accept {
  color: #2d9e36;
}
body .text.color.cancel {
  color: #ee6557;
}
body .text.color.black {
  color: #000;
}
body .text.color.yellow {
  color: #f3d316;
}
body .text.color.html5 {
  color: #e44d26;
}
body .text.color.android {
  color: #97c03e;
}
body .border .theme {
  border: 2px solid #16a6b6;
}
body form input[type="text"],
body .form input[type="text"],
body form input[type="password"],
body .form input[type="password"],
body form input[type="date"],
body .form input[type="date"],
body form input[type="datetime"],
body .form input[type="datetime"],
body form input[type="email"],
body .form input[type="email"],
body form input[type="number"],
body .form input[type="number"],
body form input[type="search"],
body .form input[type="search"],
body form input[type="tel"],
body .form input[type="tel"],
body form input[type="time"],
body .form input[type="time"],
body form input[type="url"],
body .form input[type="url"],
body form select,
body .form select,
body form textarea,
body .form textarea {
  background-color: #fff;
  color: rgba(0,0,0,0.75);
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
body form input[type="text"].rounded,
body .form input[type="text"].rounded,
body form input[type="password"].rounded,
body .form input[type="password"].rounded,
body form input[type="date"].rounded,
body .form input[type="date"].rounded,
body form input[type="datetime"].rounded,
body .form input[type="datetime"].rounded,
body form input[type="email"].rounded,
body .form input[type="email"].rounded,
body form input[type="number"].rounded,
body .form input[type="number"].rounded,
body form input[type="search"].rounded,
body .form input[type="search"].rounded,
body form input[type="tel"].rounded,
body .form input[type="tel"].rounded,
body form input[type="time"].rounded,
body .form input[type="time"].rounded,
body form input[type="url"].rounded,
body .form input[type="url"].rounded,
body form select.rounded,
body .form select.rounded,
body form textarea.rounded,
body .form textarea.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
body table {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body table tr:nth-child(even) td {
  background-color: #f9f9f9;
}
body table th {
  background-color: #eee;
  color: #222;
}
body table td.highlight {
  background-color: #16a6b6 !important;
  color: #fff;
}
body .button,
body button {
  background-color: #16a6b6;
  color: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border: solid 1px rgba(0,0,0,0.1);
}
body .button:active,
body button:active {
  -webkit-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -ms-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -o-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  border-color: none;
}
body .button.secondary,
body button.secondary {
  background-color: #bfbfbf;
  color: #666;
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -ms-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -o-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
body .button.accept,
body button.accept {
  background-color: #2d9e36;
}
body .button.cancel,
body button.cancel {
  background-color: #ee6557;
}
body .button.transparent,
body button.transparent {
  background: none !important;
}
body .button.green,
body button.green {
  background-color: #2d9e36;
}
body .button.rounded,
body button.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
body .button.theme-2,
body button.theme-2 {
  background-color: #0b717e;
}
body a {
  color: #16a6b6;
  opacity: 0.9;
}
body a:hover,
body a:active {
  opacity: 1;
}
.min-heigth_60px {
  min-height: 60px;
}
.float.clear {
  clear: both;
}
.float.left {
  float: left;
}
.float.right {
  float: right;
}
.margin_none {
  margin: 0;
}
.margin {
  margin: 15px;
}
.margin_left {
  margin-left: 15px;
}
.margin_right {
  margin-right: 15px;
}
.margin_top {
  margin-top: 15px;
}
.margin_top_2 {
  margin-top: 30px;
}
.margin_top_3 {
  margin-top: 45px;
}
.margin_top_4 {
  margin-top: 60px;
}
.margin_top_5 {
  margin-top: 75px;
}
.margin_bottom {
  margin-bottom: 15px;
}
.padding_none {
  padding: 0;
}
.padding {
  padding: 15px;
}
.padding_left {
  padding-left: 15px;
}
.padding_right {
  padding-right: 15px;
}
.padding_top {
  padding-top: 15px;
}
.padding_bottom {
  padding-bottom: 15px;
}
.display.block {
  display: block;
}
.display.none {
  display: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.responsive {
  width: 100%;
  height: auto;
}
img.responsive.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
header {
  max-height: 50px;
}
.logotipo {
  background-color: #fff;
  position: relative;
}
.reds.fb {
  color: #3b5998;
}
.reds.youtube {
  color: #9e2623;
}
.reds.gplus {
  color: #bb3317;
}
.reds.twitter {
  color: #1bb2e9;
}
.reds.pinterest {
  color: #cd2126;
}
.reds.github {
  color: #a2a2a0;
}
.img_flex {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.no-hidden {
  overflow: visible !important;
}
.tittle {
  position: relative;
  left: -12%;
}
.lazo {
  position: relative;
  z-index: 6;
  min-height: 150px;
}
.lazo:before {
  content: ' ';
  position: absolute;
  display: block;
  height: 45px;
  border-width: 50px;
  border-style: solid;
  border-color: #232323 #232323 transparent;
}
.lazo:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}
.lazo img {
  top: 10px;
  position: relative;
  left: 15px;
}
.fix {
  overflow: hidden;
}
.logo {
  position: relative;
}
.logo:before {
  content: ' ';
  position: absolute;
  width: 30px;
  height: 0;
  left: -30px;
  top: 12px;
  border-width: 20px 10px;
  border-style: solid;
  border-color: #999 #999 #999 transparent;
}
.logo:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}
.block {
  display: block !important;
}
.paddingx0 {
  padding: 0 !important;
}
#map {
  height: 170px;
}
#off-air-contact {
  display: none;
}
.marco-foto.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.marco-foto.white {
  border: 2px dashed #fff;
}
.marco-foto.black {
  border: 2px dashed #000;
}
.marco-foto.theme {
  border: 3px dashed #16a6b6;
}
.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.rounded-2 {
  -webkit-border-radius: 0 0 15px 15px !important;
  -moz-border-radius: 0 0 15px 15px !important;
  -ms-border-radius: 0 0 15px 15px !important;
  -o-border-radius: 0 0 15px 15px !important;
  border-radius: 0 0 15px 15px !important;
}
.rounded-bottom {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
.rounded-top {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
.rounded-pic-curso {
  -webkit-border-radius: 0 15px 15px 15px;
  -moz-border-radius: 0 15px 15px 15px;
  -ms-border-radius: 0 15px 15px 15px;
  -o-border-radius: 0 15px 15px 15px;
  border-radius: 0 15px 15px 15px;
}
.rounded-course {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.perfect-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.border-pic {
  border: 4px solid #16a6b6;
}
.box-num {
  width: 60px;
  height: 60px;
  z-index: 2;
  position: relative;
}
.box-center {
  display: block;
  margin: 0 auto;
}
.option-menu {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0,0,0,0.8);
}
.option-menu.select {
  -webkit-box-shadow: 0 0 1px 2px #000 inset;
  -moz-box-shadow: 0 0 1px 2px #000 inset;
  -ms-box-shadow: 0 0 1px 2px #000 inset;
  -o-box-shadow: 0 0 1px 2px #000 inset;
  box-shadow: 0 0 1px 2px #000 inset;
}
form input[type="text"],
.form input[type="text"],
form input[type="password"],
.form input[type="password"],
form input[type="date"],
.form input[type="date"],
form input[type="datetime"],
.form input[type="datetime"],
form input[type="email"],
.form input[type="email"],
form input[type="number"],
.form input[type="number"],
form input[type="search"],
.form input[type="search"],
form input[type="tel"],
.form input[type="tel"],
form input[type="time"],
.form input[type="time"],
form input[type="url"],
.form input[type="url"],
form select,
.form select,
form textarea,
.form textarea {
  display: block;
  height: 30px;
  width: 100%;
  padding: 6px;
  margin: 2px 0 6px 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-family: inherit;
  font-size: 14px;
}
form input[type="text"]:focus,
.form input[type="text"]:focus,
form input[type="password"]:focus,
.form input[type="password"]:focus,
form input[type="date"]:focus,
.form input[type="date"]:focus,
form input[type="datetime"]:focus,
.form input[type="datetime"]:focus,
form input[type="email"]:focus,
.form input[type="email"]:focus,
form input[type="number"]:focus,
.form input[type="number"]:focus,
form input[type="search"]:focus,
.form input[type="search"]:focus,
form input[type="tel"]:focus,
.form input[type="tel"]:focus,
form input[type="time"]:focus,
.form input[type="time"]:focus,
form input[type="url"]:focus,
.form input[type="url"]:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus {
  outline: none !important;
}
form input[type="text"].large,
.form input[type="text"].large,
form input[type="password"].large,
.form input[type="password"].large,
form input[type="date"].large,
.form input[type="date"].large,
form input[type="datetime"].large,
.form input[type="datetime"].large,
form input[type="email"].large,
.form input[type="email"].large,
form input[type="number"].large,
.form input[type="number"].large,
form input[type="search"].large,
.form input[type="search"].large,
form input[type="tel"].large,
.form input[type="tel"].large,
form input[type="time"].large,
.form input[type="time"].large,
form input[type="url"].large,
.form input[type="url"].large,
form select.large,
.form select.large,
form textarea.large,
.form textarea.large {
  height: 52px;
  padding: 0 20px;
  font-size: 1.2em;
  margin: 0px;
}
form textarea,
.form textarea {
  height: 64px;
}
form label,
.form label {
  font-size: 0.9em;
  font-weight: 400;
}
.fieldset label,
fieldset label {
  display: block;
  text-align: left;
  width: 95%;
}
.fieldset label > span,
fieldset label > span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}
.fieldset input[type="text"],
fieldset input[type="text"],
.fieldset input[type="password"],
fieldset input[type="password"],
.fieldset input[type="date"],
fieldset input[type="date"],
.fieldset input[type="datetime"],
fieldset input[type="datetime"],
.fieldset input[type="email"],
fieldset input[type="email"],
.fieldset input[type="number"],
fieldset input[type="number"],
.fieldset input[type="search"],
fieldset input[type="search"],
.fieldset input[type="tel"],
fieldset input[type="tel"],
.fieldset input[type="time"],
fieldset input[type="time"],
.fieldset input[type="url"],
fieldset input[type="url"],
.fieldset select,
fieldset select,
.fieldset textarea,
fieldset textarea {
  width: 95%;
}
