@font-face {
	font-family: 'yet-icons';
	src:url('fonts/yet-icons.eot');
	src:url('fonts/yet-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/yet-icons.woff') format('woff'),
		url('fonts/yet-icons.ttf') format('truetype'),
		url('fonts/yet-icons.svg#yet-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'yet-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-radio-unchecked:before, .icon-radio-checked:before, .icon-facebook:before, .icon-google-plus:before, .icon-twitter:before, .icon-android:before, .icon-html5:before, .icon-css3:before, .icon-html5-2:before, .icon-pinterest:before, .icon-tumblr:before, .icon-linkedin:before, .icon-youtube:before, .icon-fullscreen:before, .icon-heart-fill:before, .icon-cog:before, .icon-code:before, .icon-stats:before, .icon-grid:before, .icon-console:before, .icon-location:before, .icon-heart:before, .icon-cloud:before, .icon-user:before, .icon-comment:before, .icon-file-xml:before, .icon-github:before, .icon-console-2:before, .icon-code-2:before, .icon-exit:before, .icon-enter:before, .icon-point-left:before, .icon-smiley:before, .icon-tongue:before, .icon-happy:before, .icon-wink:before, .icon-grin:before, .icon-cool:before, .icon-menu:before, .icon-users:before, .icon-user-2:before, .icon-user-3:before, .icon-bubbles:before, .icon-qrcode:before, .icon-image:before, .icon-home:before, .icon-newspaper:before, .icon-pacman:before {
	font-family: 'yet-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-radio-unchecked:before {
	content: "\21";
}
.icon-radio-checked:before {
	content: "\22";
}
.icon-facebook:before {
	content: "\23";
}
.icon-google-plus:before {
	content: "\24";
}
.icon-twitter:before {
	content: "\25";
}
.icon-android:before {
	content: "\26";
}
.icon-html5:before {
	content: "\27";
}
.icon-css3:before {
	content: "\28";
}
.icon-html5-2:before {
	content: "\29";
}
.icon-pinterest:before {
	content: "\2a";
}
.icon-tumblr:before {
	content: "\2b";
}
.icon-linkedin:before {
	content: "\2c";
}
.icon-youtube:before {
	content: "\2d";
}
.icon-fullscreen:before {
	content: "\2e";
}
.icon-heart-fill:before {
	content: "\2f";
}
.icon-cog:before {
	content: "\30";
}
.icon-code:before {
	content: "\31";
}
.icon-stats:before {
	content: "\32";
}
.icon-grid:before {
	content: "\33";
}
.icon-console:before {
	content: "\34";
}
.icon-location:before {
	content: "\35";
}
.icon-heart:before {
	content: "\36";
}
.icon-cloud:before {
	content: "\37";
}
.icon-user:before {
	content: "\38";
}
.icon-comment:before {
	content: "\39";
}
.icon-file-xml:before {
	content: "\3a";
}
.icon-github:before {
	content: "\3b";
}
.icon-console-2:before {
	content: "\3c";
}
.icon-code-2:before {
	content: "\3d";
}
.icon-exit:before {
	content: "\3e";
}
.icon-enter:before {
	content: "\3f";
}
.icon-point-left:before {
	content: "\40";
}
.icon-smiley:before {
	content: "\41";
}
.icon-tongue:before {
	content: "\42";
}
.icon-happy:before {
	content: "\43";
}
.icon-wink:before {
	content: "\44";
}
.icon-grin:before {
	content: "\45";
}
.icon-cool:before {
	content: "\46";
}
.icon-menu:before {
	content: "\47";
}
.icon-users:before {
	content: "\48";
}
.icon-user-2:before {
	content: "\49";
}
.icon-user-3:before {
	content: "\4a";
}
.icon-bubbles:before {
	content: "\4b";
}
.icon-qrcode:before {
	content: "\4c";
}
.icon-image:before {
	content: "\4d";
}
.icon-home:before {
	content: "\4e";
}
.icon-newspaper:before {
	content: "\4f";
}
.icon-pacman:before {
	content: "\50";
}

